[submodule "fPlug"]
	path = fPlug
	url = https://github.com/Sifter-Ex/fPlug
[submodule "mPlug"]
	path = mPlug
	url = https://github.com/Sifter-Ex/mPlug
[submodule "cPlug"]
	path = cPlug
	url = https://github.com/Sifter-Ex/cPlug